@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.image-list {
  margin-left: 50px;
  margin-right: 50px;
}

.link {
  all: unset;
}

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.squarespace-cdn.com/content/v1/559c3ccce4b0cebfa4ebbf72/1492815453704-TQ4BH8OGWDJ9U5YOPCZ2/IMG_5980.JPG?format=500w?w=248&fit=crop&auto=format");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.home-border {
  /* border: 3px solid black;
  border-radius: 10px; */
  z-index: 2;
}

.home-content {
  padding: 30px 20px 0px 20px;
  font-weight: 700px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  color: white;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}
