@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik:wght@300;400;600;700&display=swap');
/* 
* {
  border: 1px solid red;
} */

html {
  /* overflow: hidden; */
  height: 100%;
  margin: 0;
}

body {
  background-color: #151516;
  margin: 0;
  height: 100%;
  font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.image-list {
  margin-left: 3vw;
  margin-right: 3vw;
}

.link {
  all: unset;
}

.home-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://images.squarespace-cdn.com/content/v1/559c3ccce4b0cebfa4ebbf72/1492815453704-TQ4BH8OGWDJ9U5YOPCZ2/IMG_5980.JPG"); */
  background: url("https://images.squarespace-cdn.com/content/v1/559c3ccce4b0cebfa4ebbf72/1492815453704-TQ4BH8OGWDJ9U5YOPCZ2/IMG_5980.JPG") no-repeat center center / cover;
  /* Center and scale the image nicely */
  /* background-position: center;
  background-size: cover; */
  justify-content: center;
  align-items: center;
  
}

.home-border {
  /* border: 3px solid black;
  border-radius: 10px; */
  /* z-index: 2; */
}

.home-content {
  padding: 0px 20px;
  font-weight: 700px;
  border-radius: 10px;
  max-width: 75vh;
  border: 3px solid white;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  /* background-color: black; */
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#outlined-textarea {
  color: white;
}

.footer {
  border-top: 1px solid white;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;
  padding: 10px 0px;
  /* height: 100%; */
  /* left: 0; */
  /* bottom: 0;  */
  width: 100%;
}
/* .footer-gallery {
  border-top: 1px solid white;
  background-color: #333;
  color: white;
  text-align: end;
  position: relative;
  width: 100%;
} */

.footer p {
  margin: 0;
  margin-right: 20px;
}

.card {
  background-color: #333;
  color: white;
}

.socials {
  display: flex;
  margin-left: 20px;
  /* margin: 0; */
}

.about-img {
  height: 300px;
  border-radius: 1rem; 
}

#basic-button {
  color: white;
}

#about-page {
  background: #151516;  /* fallback for old browsers */
}

.gallery-intro {
  /* background: url("https://images.squarespace-cdn.com/content/v1/559c3ccce4b0cebfa4ebbf72/1492815453704-TQ4BH8OGWDJ9U5YOPCZ2/IMG_5980.JPG") no-repeat center center / cover;; */
}

#app-bar {
  background-color: #151516;

}

/* .process-image {
  height: 300px;
  width: 300px 

} */

#basic-menu {
  /* background-color: #151516; */
}

.footer-avatar {
  height: 10px;
}

.homepage-title {
  margin-bottom: 30px;
  font-size: 72px;
}

@media (max-width: 600px) {
  .homepage-title {
    font-size: 48px;
  }

  .home-content {
    margin: 0px 20px; 
  }
}